.card_box{
  background-color: rgba(243, 243, 52, 0.705);
  height: 300px;
  width: 300px;
  margin: 50px 0 0 0;
  border-radius: 20px;

}

.card_container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.link{

  background-color: rgb(0, 0, 0);
  padding: 8px 30px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin: 20px;

}
.link:hover{
  background-color:rgb(110, 110, 110) ;
}

.link_container{
display: flex;
justify-content: space-evenly;
backdrop-filter: blur(7px);
}

.next_btn{
 
  background-color: rgb(54, 204, 122);
  padding: 5px 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin: 20px;
  border-style: none;
  font-size: 1.2rem;

}

.next_btn:hover{
  background-color:rgb(110, 110, 110) ;
}

.landing_container{
  background-image: url("./assets/background/bk88.png");
  height: 40rem;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(39px);
}

.footer{
  background-color: aliceblue;
  margin: 200px 0 0 0;
  height: 300px;
  color: black;
}
.mainH1{
  margin: 150px 0 0 0;
  font-size: 4rem;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
}